#section
{
height: 100vh;
padding: 10vh 0 0 0;
/*border: solid black 2px;*/
/*background-color: blue;*/
}
h2
{
text-align: center;
font-size: 5vw;
/*border: solid black 2px;*/
}
#fp
{
margin: 5vh 0 0 0;
height: 25vh;
/*border: solid black 2px;*/
}
#fp img
{
position: absolute;
width: 20vw;
margin: 1vh 0 1vh 1vw;
/*border: solid black 2px;*/
}
#fp p
{
margin: 0vh 2vw 0 25vw;
height: 100%;
font-size: 2vw;
/*border: solid black 2px;*/
}

#sp
{
margin-top: 10vh;
height: 30vh;
/*border: solid black 2px;*/
}
#sp img
{
position: absolute;
right: 0;
width: 15vw;
height: 30vh;
margin: 0 2vw 0 0;
/*border: solid black 2px;*/
}
#sp p
{
margin: 0 15vw 0 2vw;
height: 100%;
font-size: 2vw;
/*border: solid black 2px;*/
}