/**/
:root
{
--text: rgb(255, 255, 255);
--size: 50px;
}

*
{
margin: 0px;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}

/*Video en loop inicial*/
    #Encabezado
    {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*border: solid black 2px;*/
    }
        #Encabezado video
        {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(40%);
        z-index: -1;
        }
        #Encabezado h1
        {
        text-align: center;
        color: var(--text);
        font-size: 5vw;
        z-index: 1;
        width: max-content;
        }
        /*
        #Encabezado h1::before,
        #Encabezado h1::after
        {
        position: absolute;
        content: '';
        top: 30vh;
        right: 0;
        bottom: 58vh;
        left: 20vh;
        }
        #Encabezado h1::before
        {
        background: green;
        animation: typewriter 4s steps(24) forwards;
        }
        */
        #Encabezado p
        {
        text-align: center;
        color: var(--text);
        font-size: 4vw;
        z-index: 1;
        }
        @keyframes typewriter
        {
        to {left: 100%;}
        }
/*Botón Down*/
    .scrollDown
    {
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    }
        .scrollDown a
        {
        text-decoration: none;
        }
        .scrollDown a svg
        {
        color: rgb(240, 240, 240);
        width: 2.5em;
        animation: move 1.5s linear infinite;
        }
    @keyframes move
    {
        0%,100%
        {
        transform: translateY(0);
        } 50% {
        transform: translateY(.5em);
        }
    }