/*NORMAL PAGE*/
	#paginas
	{
	height: 100vh;
	padding: 10vh 0 0 0;
	/*background-color: blue;*/
	/*border: solid black 2px;*/
	}
		#ft
		{
		text-align: center;
		font-size: 3vw;
		}
	/*First*/
		#fsq
		{
		position: absolute;
		width: 45vw;
		margin: 2vh 0 0 5vw;
		/*border: solid black 2px;*/
		}
		#fs
		{
		text-align: center;
		font-size: 2vw;
		}
		#fp
		{
		font-size: 1.4vw;
		margin: 2vh 1vw 2vh 1vw;
		text-align: justify;
		}
		#fp a
		{
		text-decoration: none;
		color: rgb(0, 0, 0);
		}
	/*Second*/
		#ssq
		{
		position: absolute;
		width: 40vw;
		margin: 2vh 0 0 55vw;
		/*border: solid black 2px;*/
		}
		#fss
		{
		text-align: center;
		font-size: 2vw;
		}
		#fpp
		{
		font-size: 1.4vw;
		margin: 2vh 1vw 2vh 1vw;
		text-align: justify;
		}
		#fpp a
		{
		color: rgb(0, 0, 0);
		}

	#ph
	{
	/*border: solid black 2px;*/
	height: 10vh;
	z-index: 1;
	}

		h3
		{
		text-align: center;
		font-size: 1.8vw;
		}

		#ph31
		{
		position: absolute;
		bottom: -2vh;
		height: 6vh;
		width: 18vw;
		margin: 1.5vh 0 0 0;
		padding: 1vh 1vw 1vh 1vw;
		border-radius: 10px;
		border: solid black 2px;
		transition: 0.3s;
		overflow: hidden;
		z-index: 1;
		}
		#ph31:hover
		{
		height: 102%;
		width: 100%;
		background-color: rgb(255, 255, 255);
		z-index: 2;
		}
		#ph31 h3
		{
		text-align: center;
		font-size: 1.4vw;
		top: 0;
		}
		#ph31:hover h3
		{
		font-size: 2vw;
		}
		#ph31 p
		{
		position: absolute;
		margin: -50vh 0 0 0;
		text-align: justify;
		font-size: 1.4vw;
		}
		#ph31:hover p
		{
		position: relative;
		margin: 1vh 0 0 0;
		text-align: center;
		font-size: 1.4vw;
		}
		#ph31 u a
		{
		text-decoration: none;
		font-weight: bolder;
		color: rgb(1, 114, 16);
		}
		#ph31 a
		{
		text-decoration: none;
		color: rgb(0, 0, 0);
		}
		#ph31 u
		{
		/*border: solid black 2px;*/
		line-height: 10vh;
		color: blue;
		}
		#ph32
		{
		position: absolute;
		bottom: -2vh;
		width: 20vw;
		height: 6vh;
		right: 0;
		margin: 1.5vh 0 0 0;
		padding: 1vh 1vw 1vh 1vw;
		border-radius: 10px;
		border: solid black 2px;
		transition: 0.3s;
		z-index: 1;
		overflow: hidden;
		}
		#ph32:hover
		{
		height: 102%;
		width: 100%;
		background-color: rgb(255, 255, 255);
		z-index: 2;
		}
		#ph32 h3
		{
		text-align: center;
		font-size: 1.4vw;
		}
		#ph32:hover h3
		{
		font-size: 2.5vw;
		}
		#ph32 p
		{
		position: absolute;
		top: 0;
		margin: -50vh 0 0 0vw;
		font-size: 1.4vw;
		}
		#ph32:hover p
		{
		position: relative;
		margin: 1vh 0 0 0;
		text-align: center;
		font-size: 1.4vw;
		}
		#ph32 a
		{
		font-weight: bold;
		text-decoration: none;
		color: rgb(1, 114, 16);
		}
/*RESPONSIVE PAGE*/
	@media screen and (max-width: 800px)
	{
		#ft
		{
		text-align: center;
		font-size: 5vw;
		}
	/*First*/
		#fsq
		{
		position: absolute;
		width: 45vw;
		margin: 2vh 0 0 5vw;
		/*border: solid black 2px;*/
		}
		#fs
		{
		text-align: center;
		font-size: 3vw;
		}
		#fp
		{
		font-size: 1.4vw;
		margin: 2vh 1vw 2vh 1vw;
		text-align: justify;
		}
		#fp a
		{
		text-decoration: none;
		color: rgb(0, 0, 0);
		}
	}
	@media screen and (max-width: 600px)
	{

	}
	@media screen and (max-width: 400px)
	{

	}